{% extends "layout.html" %}
{% block content %}

<style>
.image-circle{
	border-radius: 50%;
	border: 0;
	width: 125px;
	height: 125px;
	vertical-align: middle;
	float: left;
	display: inline-block;
	position: relative;
}

</style>
	<div class="container" style="margin-top: 2.5%">

		<h4><b>About Us</b></h4>
		<br>

		<div class="row">
		<div class="two columns">
		<a href="https://www.linkedin.com/in/conrad-bormann-ba0998b7/">
				<img class="image-circle" src="https://media.licdn.com/dms/image/C5603AQH-7ntJ2tLxRg/profile-displayphoto-shrink_800_800/0?e=1547683200&v=beta&t=9tEMihnmKoko8Y9Cw9g75C2641PnVlu9d65amlZ4Bdo" alt="conrad" style="margin-right: 50px;">
		</a>
		</div>

		<div class="ten columns">
		<h5>Conrad Bormann</h5>
		<p>He is a Firmware Engineer for the Senior Project.  He is a graduating senior and San Jose State University and hopes to find an engineering position in Software, Firmware, or networking positions.  He has an avid love of learning and wants to continue on to get his masters after gaining experience in the tech industry.</p>
		</div>
		</div>



		<br>
		<br>


		<div class="row" style="padding-top: 1%;">
		<div class="two columns">
		<a href="https://www.linkedin.com/in/joshua-navarro-807a17133/">
				<img class="image-circle" src="https://media.licdn.com/dms/image/C4E03AQFA_oYaiK4_Ew/profile-displayphoto-shrink_800_800/0?e=1547683200&v=beta&t=NxtFg6I9mwC0Irtu1C2Gd0lP3GoLFW7z3ud-jMr_zsc" alt="josh" style="margin-right: 50px;">
		</a>
		</div>
		<div class="ten columns">
		<h5>Joshua Navarro</h5>
		<p>He is a Firmware Engineer for the Senior Project. He will be graduating this semester at San Jose State Univeristy. He is currently employed at Cisco as a Network Engineer and is keeping his options open with an interest in software and networking. He enjoys snowboarding, rock climbing, and hiking with close friends and family.</p>
		</div>
		</div>


		<br>
		<br>


		<div class="row" style="padding-top: 1%;">
		<div class="two columns">
		<a href="https://www.linkedin.com/in/previn-wong-23907b84/">
				<img class="image-circle" src="https://media.licdn.com/dms/image/C5603AQHhtoHMHOk0XA/profile-displayphoto-shrink_800_800/0?e=1547683200&v=beta&t=pFHRbiKQ7Hd-QDNHPnmfECe3HRpSE-awSJPaDpirbig" alt="previn" style="margin-right: 50px;">
		</a>
		</div>
		<div class="ten columns">
		<h5>Previn Wong</h5>
		<p>He is a Software Engineer for the Senior Project. He will be graduating this semester at San Jose State University in Computer Engineering. He has held multiple technical internships at companies such as Infineon Technologies, Broadcom, Cisco, and TI. He is looking forward to pursuing a customer-facing engineering career.</p>

		</div>
		</div>

		<br>
		<br>

		<div class="row" style="padding-top: 1%;">
		<div class="two columns">
		<a href="https://www.linkedin.com/in/daniel-pilkington/">
				<img class="image-circle" src="https://media.licdn.com/dms/image/C5603AQGgrvF7ki_JOQ/profile-displayphoto-shrink_200_200/0?e=1547683200&v=beta&t=I5cdBgXx6qjDEl5xXoDYtRRbi7Yg9UJ6_JbPaTN8-aI" alt="daniel" style="margin-right: 50px;">
		</a>
		</div>
		<div class="ten columns">
		<h5>Daniel Pilkington</h5>
		<p>He is a Software Engineer and Database Moderator for the Senior Project. Daniel is graduating this semester with a BS in Computer Engineering. He is moving to Portland in early 2019 and is looking to start his career with an entry level job at one of Portland's many tech companies.</p>
		</div>
		</div>


		<br>
		<br>

		<div class="row" style="padding-top: 1%;">
		<div class="two columns">
		<a href="https://www.linkedin.com/in/mikeejlee/">
				<img class="image-circle" src="https://media.licdn.com/dms/image/C5603AQGbqfBYdJV0Qw/profile-displayphoto-shrink_800_800/0?e=1547683200&v=beta&t=yePk_g1Aq87HhVPTJd-YT2yddAsehsmfgz8QqiDZHz4" alt="mike" style="margin-right: 50px;">
		</a>
		</div>
		<div class="ten columns">
		<h5>Michael Lee</h5>
		<p>He is the Marketing & Packaging Engineer for the Senior Project. He is a simple man who cherishes quiet nights at home with his cat, Mr. Whiskers. His greatest hobby is collecting stamps and he has a deep love for cold brewing and sippin' on them shirley temples. You can him find at Santana Row spittin' mad game with some ABG cuties.</p>
		</div>
		</div>
		<br>
		<br>
</div>

{% endblock content %}
