{% extends "layout.html" %}
{% block content %}
	<h1>About Us:</h1>

	<h3>Conrad Bormann - what we did on project:</h3>
	<p>About him, pics too maybe</p>

	<h3>Previn Wong - what we did on project:</h3>
	<p>About him</p>

	<h3>Joshua Navarro - what we did on project:</h3>
	<p>About him</p>

	<h3>Daniel Pilkington - what we did on project:</h3>
	<p>About him</p>

	<h3>Mike Lee - what we did on project:</h3>
	<p>About him</p>

	<p><a href="{{ url_for('index') }}"> Back to Main Page</a><br></p>
{% endblock content %}
