{% extends "layout.html" %}
{% block content %}
	<div class="container" style="margin-top: 5%">
		<h5><b>About Us</b></h5>

		<h5>Conrad Bormann - what we did on project:</h5>
		<p><em>About him, pics too maybe</em></p>

		<h5>Previn Wong - what we did on project:</h5>
		<p><em>About him</em></p>

		<h5>Joshua Navarro - what we did on project:</h5>
		<p><em>About him</em></p>

		<h5>Daniel Pilkington - what we did on project:</h5>
		<p><em>About him</em></p>

		<h5>Mike Lee - what we did on project:</h5>
		<p><em>About him</em></p>
	</div>
{% endblock content %}
