{% extends "layout.html" %}
{% block content %}
	<div class="container" style="margin-top: 2.5%">
		<h4><b>Specifications</b></h4>
		<h5>Hardware System</h5>	
		<p>Our module is designed using an Arduino Mega MCU with a variety of sensors to collect data about their surrounding environment. The sensors we are using include a pressure and temperature sensor, a CO2 gas sensor, a carbon monoxide sensor, and a humidity sensor. A wifi module is also connected to the Arduino to allow communication between our webpage and the system, which allows for dynamic updates on the data collected from the module. The overall cost of the parts came out to about 120 USD, making our design relatively cheap considering we did not buy in bulk.</p>
		<div style="display: flex; justify-content: center;">
			<img class="u-max-full-width" src="static/UpdatedSchem.png" alt="projschem" height="550" width="900" style="float:middle;">
		</div>
		<br>
		<div style="display: flex; justify-content: center;">
			<img class="u-max-full-width" src="static/liveModule.png" alt="projschem" height="500" width="550" style="float:middle;">
		</div>
		<br>
		<br>
		<h5>Software System</h5>
		<p>
			The website is written using a combination of Python, Flask, Skeleton, HTML, CSS and Javascript with a SQLite3 backend database to store data. This design is easy to deploy, supported by all operating systems and has built in functionality to make our jobs easier.
		</p>
		<div style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
			<img class="u-max-full-width" src="static/SoftwareArchitectureDiagram.png" alt="webschem" style="float:middle;">
		</div>
		<br>
		<br>
		<br>
	</div>
{% endblock content %}
