{% extends "layout.html" %}
{% block content %}
	<div class="container" style="margin-top: 5%">
		<h5 align="middle"><b>Schematics for Module:</b></h5>	
		<p>
			Our module is designed using an Arduino Mega MCU with a variety of sensors to collect data about their surrounding environment. The sensors we are using include a pressure and temperature sensor, a CO2 gas sensor, a carbon monoxide sensor, and a humidity sensor. A wifi module is also connected to the Arduino to allow communication between our webpage and the system, which allows for dynamic updates on the data collected from the module. The overall cost of the parts came out to about 120 USD, making our design relatively cheap considering we did not buy in bulk.
		</p>
		<div style="display: flex; justify-content: center;">
			<img src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/46164366_2206102316075867_6580683762047123456_o.jpg?_nc_cat=111&_nc_ht=scontent-sjc3-1.xx&oh=d98613d91bd6dc6be3e6fa0e0961999f&oe=5C7EC061" alt="projschem" height="550" width="900" style="float:middle;">
		</div>
		<br>
		<div style="display: flex; justify-content: center;">
			<img src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/46245123_2207456949273737_7909072715263246336_n.jpg?_nc_cat=105&_nc_ht=scontent-sjc3-1.xx&oh=416c61c3deaffa6f541806e1a2bdbeab&oe=5C71F182" alt="projschem" height="500" width="550" style="float:middle;">
		</div>
		<br>
		<br>
		<h5 align="middle"><b>Webpage Design and Implementation:</b></h5>
		<p>
			The website is written using a combination of python, flask, and HTML with a SQLite3 backend database to store information. We used this design because it is easy to deploy, supported by all operating systems and has built in functionality to make our jobs easier.
		</p>
		<div style="display: flex; justify-content: center;">
			<img src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/46255402_2206102379409194_5529652904769617920_n.jpg?_nc_cat=101&_nc_ht=scontent-sjc3-1.xx&oh=624b96fe0e9e38b84a32ee40968f2147&oe=5C733683" alt="webschem" height="350" width="600" style="float:middle;">
		</div>
		<br>
		<br>
		<br>
	</div>
{% endblock content %}
