{% extends "layout.html" %}
{% block content %}
<div class="container" style="margin-top: 2.5%">
  <h4 style="padding-bottom: 2.5%" ><b>Application</b></h4>

  <div class="row">
  <div class="four columns">

    <!--p>   Temperature </p>-->
    <title>jQuery Example</title>

    <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript">
    var intervalID = setInterval(update_values,1000);
    function update_values() {
    $.getJSON($SCRIPT_ROOT + '/_stuff',

    function(data) {
    $('#result').text(data.result);
    console.log(data)
    });

    };  
    function stopTextColor() {
    clearInterval(intervalID);
    }
    </script>
    <body onload="update_values();">
    <h5>Temperature</h5>
    <span style="margin-left: 15px; color: indianred;" id="result"><b>?</b></span>
    <script>
    document.getElementById("result").innerHTML;
    </script>
    <button id="update" style="margin-left: 20px;" onclick="stopTextColor();">Graph</button>

    <br>
    <br>
    </body>

  </div>
  <div class="eight columns">
      
    <div class="ct-chart ct-perfect-fourth u-full-width" id="chart"></div>
    <script>
  
      
      var myChart;
      var getData = $.get('/data');
      getData.done(function(chart_temp){

        var data = {
      // A labels array that can contain any sort of values
      labels: [],
      // Our series array that contains series objects or in this case series data arrays
      series: [
        chart_temp.chart_temp
      ]
      };
      // Create a new line chart object where as first parameter we pass in a selector
      // that is resolving to our chart container element. The Second parameter
      // is the actual data object.

      var options = {
      width: 550,
      height: 300
      };

      myChart = new Chartist.Line('#chart', data, options);

    });

    function updateChart(){

      var updatedData = $.get('/data');
      updatedData.done(function(chart_temp){

      
        var data = {
        // A labels array that can contain any sort of values
        labels: [],
        // Our series array that contains series objects or in this case series data arrays
        series: [
          chart_temp.chart_temp
        ]
        };
      myChart.update(data);   

      });

    }

    $("#update").on('click', updateChart);

    </script>

  </div>
  </div>

  <div class="row">
  <div class="four columns">
    
    <!--p>   Humidity  </p>-->
    <title>jQuery Example</title>

    <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript">
    var intervalID = setInterval(update_values,1000);
    function update_values() {
    $.getJSON($SCRIPT_ROOT + '/_stuff',

    function(data) {
    $('#result1').text(data.result1);
    console.log(data)
    });

    };
    function stopTextColor() {
    clearInterval(intervalID);
    }
    </script>
    <body onload="update_values();">
    <h5>Humidity</h5>
    <span style="margin-left: 15px; color: indianred;" id="result1"><b>?</b></span>
    <script>
    document.getElementById("result1").innerHTML;
    </script>

    <button id="update1" style="margin-left: 20px;" onclick="stopTextColor();">Graph</button>

    <br>
    <br>
    </body>

  </div>
  <div class="eight columns">

    <div class="ct-chart ct-perfect-fourth" id="chart1"></div>
    <script>
  
      
      var myChart;
      var getData = $.get('/data');
      getData.done(function(chart_temp){

        var data = {
      // A labels array that can contain any sort of values
      labels: [],
      // Our series array that contains series objects or in this case series data arrays
      series: [
        chart_temp.chart_temp
      ]
      };
      // Create a new line chart object where as first parameter we pass in a selector
      // that is resolving to our chart container element. The Second parameter
      // is the actual data object.

      var options = {
      width: 550,
      height: 300
      };

      myChart = new Chartist.Line('#chart1', data, options);

    });

    function updateChart(){

      var updatedData = $.get('/data');
      updatedData.done(function(chart_temp){

      
        var data = {
        // A labels array that can contain any sort of values
        labels: [],
        // Our series array that contains series objects or in this case series data arrays
        series: [
          chart_temp.chart_temp
        ]
        };
      myChart.update(data);   

      });

    }

    $("#update1").on('click', updateChart);

    </script>     

  </div>
  </div>

  <div class="row">
  <div class="four columns">
    
    <!--p>  Pressure </p>-->
    <title>jQuery Example</title>
    <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript">
    var intervalID = setInterval(update_values,1000);
    function update_values() {
    $.getJSON($SCRIPT_ROOT + '/_stuff',

    function(data) {
    $('#result2').text(data.result2);
    console.log(data)
    });      
    };
    function stopTextColor() {
    clearInterval(intervalID);
    }   
    </script>
    <body onload="update_values();">
    <h5>Pressure</h5>
    <span style="margin-left: 15px; color: indianred;" id="result2"><b>?</b></span>
    <script>
    document.getElementById("result2").innerHTML;
    </script>

    <button id="update2" style="margin-left: 20px;" onclick="stopTextColor();">Graph</button>

    <br>
    <br>
    </body>

  </div>
    <div class="eight columns">
      
    <div class="ct-chart ct-perfect-fourth" id="chart2"></div>
    <script>
  
      
      var myChart;
      var getData = $.get('/data');
      getData.done(function(chart_temp){

        var data = {
      // A labels array that can contain any sort of values
      labels: [],
      // Our series array that contains series objects or in this case series data arrays
      series: [
        chart_temp.chart_temp
      ]
      };
      // Create a new line chart object where as first parameter we pass in a selector
      // that is resolving to our chart container element. The Second parameter
      // is the actual data object.

      var options = {
      width: 550,
      height: 300
      };

      myChart = new Chartist.Line('#chart2', data, options);

    });

    function updateChart(){

      var updatedData = $.get('/data');
      updatedData.done(function(chart_temp){

      
        var data = {
        // A labels array that can contain any sort of values
        labels: [],
        // Our series array that contains series objects or in this case series data arrays
        series: [
          chart_temp.chart_temp
        ]
        };
      myChart.update(data);   

      });

    }

    $("#update2").on('click', updateChart);

    </script>

    </div>
  </div>

  <div class="row">
  <div class="four columns">
    
    <!--p>  Carbon Dioxide </p>-->
    <title>jQuery Example</title>

    <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript">
    var intervalID = setInterval(update_values,1000);
    function update_values() {
    $.getJSON($SCRIPT_ROOT + '/_stuff',

    function(data) {
    $('#result3').text(data.result3);
    console.log(data)
    });

    };
    function stopTextColor() {
    clearInterval(intervalID);
    }
    </script>
    <body onload="update_values();">
    <h5>Carbon Dioxide</h5>
    <span style="margin-left: 15px; color: indianred;" id="result3"><b>?</b></span>
    <script>
    document.getElementById("result3").innerHTML;
    </script>
    <button id="update3" style="margin-left: 20px;" onclick="stopTextColor();">Graph</button>

    <br>
    <br>
    </body>
    
  </div>
    <div class="eight columns">
      
    <div class="ct-chart ct-perfect-fourth" id="chart3"></div>
    <script>
  
      
      var myChart;
      var getData = $.get('/data');
      getData.done(function(chart_temp){

        var data = {
      // A labels array that can contain any sort of values
      labels: [],
      // Our series array that contains series objects or in this case series data arrays
      series: [
        chart_temp.chart_temp
      ]
      };
      // Create a new line chart object where as first parameter we pass in a selector
      // that is resolving to our chart container element. The Second parameter
      // is the actual data object.

      var options = {
      width: 550,
      height: 300
      };

      myChart = new Chartist.Line('#chart3', data, options);

    });

    function updateChart(){

      var updatedData = $.get('/data');
      updatedData.done(function(chart_temp){

      
        var data = {
        // A labels array that can contain any sort of values
        labels: [],
        // Our series array that contains series objects or in this case series data arrays
        series: [
          chart_temp.chart_temp
        ]
        };
      myChart.update(data);   

      });

    }

    $("#update3").on('click', updateChart);

    </script>

    </div>
  </div>

  <div class="row">
  <div class="four columns">
    
    <!--p>  Carbon Monoxide </p>-->
    <title>jQuery Example</title>

    <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript">
    var intervalID = setInterval(update_values,1000);
    function update_values() {
    $.getJSON($SCRIPT_ROOT + '/_stuff',

    function(data) {
    $('#result4').text(data.result4);
    console.log(data)
    });

    };    
    function stopTextColor() {
    clearInterval(intervalID);
    }
    </script>
    <body onload="update_values();">
    <h5>Carbon Monoxide</h5>
    <span style="margin-left: 15px; color: indianred;" id="result4"><b>?</b></span>
    <script>
    document.getElementById("result4").innerHTML;
    </script>
    <button id="update4" style="margin-left: 20px;" onclick="stopTextColor();">Graph</button>

    <br>
    <br>
    </body>

  </div>
    <div class="eight columns">
      
    <div class="ct-chart ct-perfect-fourth" id="chart4"></div>
    <script>
  
      
      var myChart;
      var getData = $.get('/data');
      getData.done(function(chart_temp){

        var data = {
      // A labels array that can contain any sort of values
      labels: [],
      // Our series array that contains series objects or in this case series data arrays
      series: [
        chart_temp.chart_temp
      ]
      };
      // Create a new line chart object where as first parameter we pass in a selector
      // that is resolving to our chart container element. The Second parameter
      // is the actual data object.

      var options = {
      width: 550,
      height: 300
      };

      myChart = new Chartist.Line('#chart4', data, options);

    });

    function updateChart(){

      var updatedData = $.get('/data');
      updatedData.done(function(chart_temp){

      
        var data = {
        // A labels array that can contain any sort of values
        labels: [],
        // Our series array that contains series objects or in this case series data arrays
        series: [
          chart_temp.chart_temp
        ]
        };
      myChart.update(data);   

      });

    }

    $("#update4").on('click', updateChart);


    </script>

    </div>
  </div>

  <div class="row">
  <div class="four columns">

    <!--p>  Smoke </p>-->
    <title>jQuery Example</title>

    <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript">
    var intervalID = setInterval(update_values,1000);
    function update_values() {
    $.getJSON($SCRIPT_ROOT + '/_stuff',

    function(data) {
    $('#result5').text(data.result5);
    console.log(data)
    });     
    };
    function stopTextColor() {
    clearInterval(intervalID);
    }  
    </script>
    <body onload="update_values();">
    <h5>Smoke</h5>
    <span style="margin-left: 15px; color: indianred;" id="result5"><b>?</b></span>
    <script>
    document.getElementById("result5").innerHTML;
    </script>
    <button id="update5" style="margin-left: 20px;" onclick="stopTextColor();">Graph</button>

    <br>
    <br>
    </body>   

  </div>
    <div class="eight columns">
      
    <div class="ct-chart ct-perfect-fourth" id="chart5"></div>
    <script>
  
      
      var myChart;
      var getData = $.get('/data');
      getData.done(function(chart_temp){

        var data = {
      // A labels array that can contain any sort of values
      labels: [],
      // Our series array that contains series objects or in this case series data arrays
      series: [
        chart_temp.chart_temp
      ]
      };
      // Create a new line chart object where as first parameter we pass in a selector
      // that is resolving to our chart container element. The Second parameter
      // is the actual data object.

      var options = {
      width: 550,
      height: 300
      };

      myChart = new Chartist.Line('#chart5', data, options);

    });

    function updateChart(){

      var updatedData = $.get('/data');
      updatedData.done(function(chart_temp){

      
        var data = {
        // A labels array that can contain any sort of values
        labels: [],
        // Our series array that contains series objects or in this case series data arrays
        series: [
          chart_temp.chart_temp
        ]
        };
      myChart.update(data);   

      });

    }

    $("#update5").on('click', updateChart);


    </script>

    </div>
  </div>


</div>

{% endblock content %}
