{% extends "layout.html" %}
{% block content %}
  	<div class="container">
	    <div class="row">
	      <div class="nine columns" style="margin-top: 4%">
	        <h4><b>Environmental Analysis</b></h4>
	        <h5>Problem</h5>
			<p>Environmental factors that can affect human life, such as harmful emissions and air quality control, are difficult to monitor unless physically monitored.</p>
	        <h5>Goal</h5>
			<p>Provide a platform to monitor air and environmental factors remotely in order to prevent harm to human life and at risk resources such as perishable organic substances.</p>
			<h5>Action</h5>
			<p>Build an Embedded System to record data from target areas and display on external webpage.</p>
	      </div>
	      <div class="three columns" style="margin: 150px 0px 0px 25px">
          	<img src="static/environment.png" width="192" height="192">
     	   </div>
	    </div>
  </div>
{% endblock content %}


			<!--<h5>Project Goal:</h5>
			<p>The goal of our project is to create a module that will help ensure air quality for our consumers based on their needs. Whether it be keeping everyone safe in a factory setting or making sure that the humidity and temperature of a wine cellar is in the perfect range, we want to make sure that anyone can keep track of their environment accurately.</p>
			<h5>Short Project Description:</h5>
			<p>Description of the module and the webpage schematics and what we used for each part (I2C, SPI, etc...)</p>-->